<h2>Available Pools</h2>
<table>
  <% @pools.each do |pool| %>
    <tr>
      <td><%= pool.name %> </td>
      <td><%= link_to "Join Pool", joinpool_path(:pool => pool) %></td>
    </tr>
  <% end %>
</table>
