<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your new password</h1>
    <p>
    <%= "Your username is #{@user.username}" %>
    </p>
    <p>
    <%= "Your password is #{@random_password}" %><br />
    You can now log in and change it on the edit profile page.
  </body>
</html>
