      <li>
      <a href="<%= pickem_configure_path %>" >
          <h2>Modify Pool Configuration</h2>
          <p>Modify the rules of your pool including number of games, fees and deadlines.</p>
        </a>
      </li>


