<div class="widget-box">
  <div class="widget-title">
    <h5>Update Account</h5>
  </div>
  <div class="widget-content">
  Select a user to modify their accounting records
  <%= form_tag(view_transactions_pickem_pool_path(@pool), :method => "get") do %>
    <%= collection_select(:user, :id, @users, :id, :name) %>
    <%= submit_tag("View Transactions") %>
  <% end %>
</div>
</div>

