<div class="widget-box">
  <div class="widget-content nopadding">
    <% if @current_week.pickem_entry_results.empty? %>
      This week has not finished yet.
    <% else %>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Place</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First</td>
          <td>
            <%= @current_week.pickem_entry_results[0].pickem_week_entry.user.name  %>
          </td>
        </tr>
        <% if @current_week.pickem_entry_results.count > 6 %>
        <tr>
          <td>Second</td>
          <td>
            <%= @current_week.pickem_entry_results[1].pickem_week_entry.user.name  %>
          </td>
        </tr>
        <% end %>
        <% if @current_week.pickem_entry_results.count > 10 %>
        <tr>
          <td>Third</td>
          <td>
            <%= @current_week.pickem_entry_results[2].pickem_week_entry.user.name  %>
          </td>
        </tr>
        <%end %>
        <tr>
          <td>DAL</td>
          <td>
            <%= @current_week.pickem_entry_results[-1].pickem_week_entry.user.name  %>
          </td>
        </tr>
      </tbody>
    </table>

  <% end %>
  </div>
</div>
