<% if @current_week.pickem_entry_results.empty? %>
  <span>This week has not finished yet.</span>
<% else %>
  <div class="place_label">
    <label><strong>First Place:</strong> </label>
    <span class="result_label">
      <%= @current_week.pickem_entry_results[0].pickem_week_entry.user.name  %>
    </span>
  </div>
  <% if @current_week.pickem_entry_results.count > 6 %>
    <label>Second Place: </label><span><%= @current_week.pickem_entry_results[1].pickem_week_entry.user.name  %></span>
    <br />
  <% end %>
  <% if @current_week.pickem_entry_results.count > 10 %>
    <label>Third Place: </label><span><%= @current_week.pickem_entry_results[2].pickem_week_entry.user.name  %></span>
    <br />
  <% end %>
  <label><strong>Dead Ass Last: </strong> </label><span><%= @current_week.pickem_entry_results[-1].pickem_week_entry.user.name  %></span>
  <br /><br />
<% end %>

