<div class="span6">
  <div class="widget-box">
    <div class="widget-title">
      <span class="icon">
        <i class="icon-user"></i>
      </span>
      <h5>Commissioner's Message</h5>
    </div>
  <div class="widget-content">
        Welcome to the 13th season of the Pool of Greatness Pickem pool.  Things we learned
        last year? Eli Manning may actually be better than we thought but he's probably no Tom
        Brady.  T.O is done.  Cam Newton is the real deal.  The Colts will tank the season 
        to get Andrew Luck.  Michelle may be able to pick football games but it's not a genetic
        talent.  I'm sure there are others.  Here's to a great season.
    </div>
  </div>
</div>



