<div class="container_12">
  <%= render 'navigation' %>

  <div class="adminactions">
    <h1>Your Admin Dashboard</h1>
    <div class="adminactions-body">
      <ul>
        <%= render 'modify_config' %>
        <%= render 'pick_games' %>
      </ul>

    </div>
  </div>
</div>
  
