  <nav class="pickem_navigation">
    <ul>
      <li><%= link_to "Pool Home", kentucky_derby_pool_path(@pool) %></li>
      <li><%= link_to "The Window", show_window_kentucky_derby_pool_path(@path) %></li>
    </ul>
  </nav>

