<%= render 'shared/poolbanner' %>
<div class="container_12">
  <%= render 'navigation' %>
  <%= render 'shared/flashpartial' %>
  
  <b>Welcome to Brett's Infamous College Bowl Pool brought to you by Mickey's Malt Liquor</b><br />
  Yes, it's that time of year again, a time of great joy, sadness, futility and pandering to the basest of instincts. 
  No, I'm not talking about Christmas, it's Bowling Season!  I run about 42 pools a year but this is by far and away, the
  best one.  Not only do you get the unmitigated joy of my wit and wisdom for 20 straight days (a Christmas present people 
  have asked for for generations), you get to play in a pool that gives you the repeated opportunity to show 20 or so of the 
  random people you probably don't know on this list how little you know about college football.  
  I have no idea how you could possibly refuse what I am about to offer you. 
  <br /><br />
  Here are the rules:
  <ol>
    <li>1. Pick who you think will win STRAIGHT UP</li>
    <li>2. Rank your picks from 1 to 35 where 35 is the one you are most confident in.</li>
    <li>3. Make up a total for the points scored in the championship game for tie breaking purposes.</li>
    <li>4. Save your picks</li>
  </ol>

  <br />
  Super simple right?  Right.  The pool costs $30.  Payouts depend on the number of people playing but as a general rule, 
  I try to pay out about 20% of the players, e.g. if 15-20 people play, I'll pay 4, if 20-25 play, I'll 5, etc.

</div>
