<%= render 'shared/poolbanner' %>
<div class="container_12">
  <%= render 'navigation' %>
  <%= render 'shared/flashpartial' %>
  
  Welcome to Brett's Infamous College Bowl Pool brought to you by Mickey's Malt Liquor.  
   
</div>
