/* GENERAL HTML Tags */

/* Subsection 1: CSS Reset */
body, 
h1, h2, h3, 
p, ul, li, form, input,
table, tr, td,
header, nav, article, section, dialog, figure, aside, footer {
border:0;
margin:0;
padding:0;
font-size:100%;
...
}

/* END CSS Reset */

/* Subsection 2: Refine Standard HTML Tags */
body {
  font:normal 16px/24px "Helvetica Neue", "Helvetica", "Arial", sans-serif; 
}


/* END Refine Standard HTML Tags */

/* END GENERAL HTML Tags */

/* Structural Tags */
header{
	z-index:500;
	font-weight:500;
	background:#0B0974;
	font-size:18px;
	text-transform:uppercase;
	position:fixed;
	width:100%;
}

header h1 {
  color: #ffffff;
}

header a{
	color:#fff !important;
	text-decoration:none;
}

header .container_12{
	position:relative;
	/* background:url("img/logo_bg.png") no-repeat left bottom; */
	padding:10px 0;
}


/* END Structural Tags */

/* Custom classes and ids */
#nav ul{
	position:absolute;
	right:0;
	top:10px;
}

#nav li{
  list-style: none;
  display: inline;
	float:left;
	padding-left:10px;
}

#nav a{
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-transition: background .2s ease-out;
}

#nav a:hover{
	background:#3C39BA;
}

#main {
  padding: 100px 0 15px 0;
}

input[type="text"], input[type="password"] {
  border: solid 1px #85b1de; 
}

input[type="submit"] {
  background-color: #04034B;
  padding: 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  color: #ffffff;

}

#dashboard_details {
  background-color: #D2b65F;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#dashboard_details h2 {
  color: #04034B;
  font-size: 18px;
  padding: 5px;  
}

#pickem_navigation ul {
  background-color: #d2b65f;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  padding: 10px 0;

}

#pickem_navigation li {
  list-style: none;
  display: inline;
  padding:5px;
}

#pickem_navigation a {
  text-decoration: none;
  color: #04034b;
  padding: 5px;
	-webkit-transition: background .2s ease-out;

}

#pickem_navigation a:hover {
  background-color: #e9d7a2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

}

#weeklygames tr {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#weeklygames th {
  background-color: #5D5BBA;
  color: #D2B65F;
  padding: 5px;

}

#weeklygames td {
  padding: 0 5px;

}

.adminactions {
  background-color:#e9f1f4;
  margin: 10px;
}

.adminactions h1 {
  color:#fff;
  font-size:16px;
  font-weight:bold;
  background-color:#405a6a;
  padding: 8px 18px;
  position: relative;
}

.adminactions .adminactions-body {
  padding:10px 0 10px 10px;
  background-color:#e9f1f4;
  overflow:hidden;
  border-style:solid;
  border-width:1px 1px 2px;
  border-color:#e9f1f4 #d8dee2 #d8dee2;
  border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
}

.adminactions ul {
  list-style-type: none;
  position: relative; 
}

.adminactions ul li {
  color:#666;
  font-size:13px;
  font-weight:normal;
  background-color:#fffff5;
  background:-moz-linear-gradient(center top,'#fffff5','#f5f3b4');
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fffff5',endColorstr='#f5f3b4');
  background:-webkit-gradient(linear,left top,left bottom,from(#fffff5),to(#f5f3b4));
  background:-moz-linear-gradient(top,#fffff5,#f5f3b4);
  border:1px solid #dfddb5;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  display:block;
  width:215px;
  height:215px;
  float:left;
  position:relative;
  margin:0 10px 0 0;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-box-shadow:0 1px 0 #fff;
  box-shadow:0 1px 0 #fff;
}

.adminactions a {
  text-decoration: none;

}

.adminactions h2 {
  padding: 5px 10px;
  color: #000;
}

.adminactions p {
  color: #2e3030;
  padding: 5px 5px 0 10px;
}

/* Table styling */
table {
}

tr.header {
  border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
}

td.input {
  width: 10px;
}
