/* GENERAL HTML Tags */

/* Subsection 1: CSS Reset */
body, 
h1, h2, h3, 
p, ul, li, form, input,
table, tr, td,
header, nav, article, section, dialog, figure, aside, footer {
border:0;
margin:0;
padding:0;
font-size:100%;
...
}

/* END CSS Reset */

/* Subsection 2: Refine Standard HTML Tags */
html, body {height: 100%}
#wrap {min-height: 100%}
#main {
  overflow: auto;
  padding-bottom: 200px;
}
#footer {
  position: relative;
  margin-top: -200px;
  height: 200px;
  clear:both;
  color: #cdba9d;
  background: #444444;
}

#footer .container_12 {
  padding: 10px 0 0 0;
}


body {
  font:normal 16px/24px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #f2f2f5; 
}

h1 {
  line-height: 35px;
}

h2 {
  font-size:28px;
  margin-bottom:20px;
  color: #04034b;
}

/* END Refine Standard HTML Tags */

/* END GENERAL HTML Tags */

/* Structural Tags */
header{
	font-weight:500;
	background:#0B0974;
	font-size:18px;
	text-transform:uppercase;
	position:relative;
	width:100%;
}

header h1 {
  color: #ffffff;
}

header a{
	color:#fff !important;
	text-decoration:none;
}

header .container_12{
	position:relative;
	padding:10px 0;
}


/* END Structural Tags */

/* Custom classes and ids */
#site-title {
  font-size: 28px;
}

#banner {
  background: url("/images/banner.png") top left repeat-x;
  border-top: 1px solid #c2bcbd; 
  height: 325px;
  padding: 20px 0 0 0;
}

#banner .salespitch {
  font-size: 38px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin: 0 0 20px 0;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
  
}

#banner .grid_6 {
  padding: 50px 0 0 0;
}

#banner h1 {
  color: #dadad3;
  font-size: 26px;
  font-weight: normal;
  margin: 0 0 20px;
}

#nav ul{
	position:absolute;
	right:0;
	top:10px;
}

#nav li{
  list-style: none;
  display: inline;
	float:left;
	padding-left:10px;
}

#nav a{
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-transition: background .2s ease-out;
}

#nav a:hover{
	background:#3C39BA;
}


input[type="text"], input[type="password"] {
  border: solid 1px #85b1de; 
}

input[type="submit"] {
  background-color: #04034B;
  padding: 5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  color: #ffffff;

}

#dashboard_wrapper {
  padding: 60px 0 0 0;
}
#dashboard_details {
  background-color: #D2b65F;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#dashboard_details h2 {
  color: #04034B;
  font-size: 18px;
  padding: 5px;  
}

.pickem_container {
  padding: 60px 0 0 0;
}
.pickem_navigation ul {
  background-color: #d2b65f;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  padding: 10px 0;

}

.pickem_navigation li {
  list-style: none;
  display: inline;
  padding:5px;
}

.pickem_navigation a {
  text-decoration: none;
  color: #04034b;
  padding: 5px;
	-webkit-transition: background .2s ease-out;

}

.pickem_navigation a:hover {
  background-color: #e9d7a2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

}

#weeklygames tr {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#weeklygames th {
  background-color: #5D5BBA;
  color: #D2B65F;
  padding: 5px;

}

#weeklygames td {
  padding: 0 5px;

}

.adminactions {
  background-color:#e9f1f4;
  margin: 10px;
}

.adminactions h1 {
  color:#fff;
  font-size:16px;
  font-weight:bold;
  background-color:#405a6a;
  padding: 8px 18px;
  position: relative;
}

.adminactions .adminactions-body {
  padding:10px 0 10px 10px;
  background-color:#e9f1f4;
  overflow:hidden;
  border-style:solid;
  border-width:1px 1px 2px;
  border-color:#e9f1f4 #d8dee2 #d8dee2;
  border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
}

.adminactions ul {
  list-style-type: none;
  position: relative; 
}

.adminactions ul li {
  color:#666;
  font-size:13px;
  font-weight:normal;
  background-color:#fffff5;
  background:-moz-linear-gradient(center top,'#fffff5','#f5f3b4');
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fffff5',endColorstr='#f5f3b4');
  background:-webkit-gradient(linear,left top,left bottom,from(#fffff5),to(#f5f3b4));
  background:-moz-linear-gradient(top,#fffff5,#f5f3b4);
  border:1px solid #dfddb5;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  display:block;
  width:215px;
  height:215px;
  float:left;
  position:relative;
  margin:0 10px 0 0;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-box-shadow:0 1px 0 #fff;
  box-shadow:0 1px 0 #fff;
}

.adminactions a {
  text-decoration: none;

}

.adminactions h2 {
  padding: 5px 10px;
  color: #000;
}

.adminactions p {
  color: #2e3030;
  padding: 5px 5px 0 10px;
}

/* Table styling */
.activity_table {
  width: 100%
}

#survivor_picks_table {
  width: 80%;
}
tr.header {
  border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
}

tr.header th {
  padding: 0 5px;
}

.activity_desc {
  width: 75%;
}

.activity_amount {
  width: 25%;
}

.recent_activity {
  float: right;
  width: 450px;
}

.place_label {
}

.result_label {
  padding 0 5px;
}

.results_table {
  width: 80%;
  margin: 0 0 0 15px;
}

#notice {
  border: 5px solid green;
  margin: 5px;
  color: #a67d00;
}

#error {
  border: 5px solid red;
  margin: 5px;

}

#account_activity {
  border: 2px solid #a67d00;
  margin-top: 15px;
}

#sites_container {
  margin: 5px;

}

#site_navigation {
  margin: 10px;
}
.site_container {
  border: 2px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  overflow: auto;
  margin: 10px 0;
  padding: 0 0 10px 0;

}

#site_navigation a {
  text-decoration: none;
  background: #04034B;
  color: #fff;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  padding: 6px;
}

#site_navigation a:hover {
  background-color: #5d5bba;
}

.site_container h3 {
  background-color: #5d5bba;
  color: #d2b65f;
  padding: 0 5px;

}

article {
  display:block;
}

.pool_container {
  width: 220px;
  border: 1px solid #000;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;

}

.pool_container h4 {
  background: #6e6969;
  color: #fff;
  padding: 0 6px;
}

#pools article {
  position: relative;
  width: 220px;
  min-height: 111px;
}

#features,
#pricing, 
#pools {
  padding: 25px 0;
}

#features-overview {
  margin-bottom: 10px;
}

#features {
  background:rgba(0,0,0,.03);
}

#features .container_12 {
  position: relative;
  overflow: auto;
}

#pricing {
  background:rgba(0,0,0,.1);
  overflow: auto;
}

#pools {
  background:rgba(0,0,0,.07);
  overflow: auto;
}

#pools .grid_12 {
  margin-bottom: 20px;
}

#pools .grid_6 {
}

#footer h2 {
  color: #d2ac35;
}

#login-wrapper,
#signup-wrapper{
  padding: 100px 0 200px 200px;
}

#current_pick_container {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  margin: 5px 0;
}

#current_pick_container h3 {
  background-color: #5d5bba;
  color: #d2b65f;
  padding: 0 5px;
}

#current_pick_container span {
  padding: 0 5px;
}

#current_pick_container a {
  padding: 0 5px;

}

#allgames_table {
  width: 100%;
}

#allgames_table td {
  padding: 3px;
}

#future_pools {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  width: 220px;
  margin: 20px 0;
}

#future_pools h2 {
  background-color: #0b0974;
  color: #d2b65f;
  padding: 0 5px;
}

#future_pools ul {
  list-style-type: none;
  position: relative;
  padding: 5px;
}

#pools_features {
  margin: 20px 0;
  padding: 10px 0;
}

#jackpot_rule {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;

}

.pickem_home_box {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  margin: 20px 0;
  min-height: 110px;
}

.pickem_home_box h2 {
  background-color: #0b0974;
  color: #d2b65f;
  padding-left: 5px;
}

.pickem_home_box span {
  padding-left: 5px;
}

.pickem_home_box label {
  padding-left: 5px;
}

#pickem_info_boxes {
  float: right
}


