<div id="account_activity" class="widget-title">
  <span class="icon"><i class="icon-signal"></i></span>
  <h5>Your Account Activity</h5>
  <div class="buttons"><a href="#" class="btn btn-mini"><i class="icon-refresh"></i> Update</a></div>
</div>
<div id="account_activity_data" class="widget-content">
  <div class="row-fluid">
    <div class="span4">
    <ul class="site-stats">
      <li><strong><%= number_to_currency(current_user.balance) %></strong><small>Current Balance</small></li>
      <li><strong><%= current_user.current_season_pickem_entries.count %></strong><small>Pickem Entries</small></li>
    </ul>
    </div>
  </div>
</div>

