<section id="pool_wrapper">


<div id="pools_container">
  <h2>Pools you play in (<%= link_to "Join a pool", findpools_path %>)</h2>
  <table>
    <% current_user.pickem_pools.each do |pool| %>
      <tr>
        <td><%= poolpath_for(pool) %></td>
      </tr>
    <% end %>
  </table>
</div>
</section>
