<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-file"></i>
  i </span>
<h5>Recent Posts</h5><span title="54 total posts" class="label label-info tip-left">54</span>
</div>
<div class="widget-content nopadding">
