<section id="sites_container">
  <% current_user.sites.each do |site| %>
    <div class="site_container">
      <h3><%= "Site: #{site.name}" %></h3>
      <div id="site_navigation"> 
      <% if current_user.id == site.admin_id %>
        <%= link_to("Add pool to this site", newpool_site_path) %> 
      <% end %>
      </div>
      <div id="pools">
        <% site.pools.each do |pool| %>
          <div class="pool_container grid_3">
            <article>
              <h4><%= pool.name %></h4>
              <%= poolpath_for(pool) %>
            </article>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</section>
