<div class="container_12">
  <%= form_tag(send_password_users_path, :method => "post") do %>
    <%= label_tag(:user_email, "Your Email") %>
    <%= text_field_tag(:user_email) %><br /><br />
    <%= submit_tag("Send ", :id => "save_weekly_picks") %>
  <% end %>
</div>

