<div id="content-header">
  <h1>Dashboard</h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <%= render "accountinfo" %>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <%= render "recent_entries" %>
    </div>
    <div class="span6">
      <%= render "recent_entries" %>
    </div>
  </div>

</div>

