<div class="container_12">
  <%= render "shared/flashpartial" %> 
  <%= link_to "Delete All", destroy_all_nba_stat_import_errors_path %> 
  <table>
    <tr>
      <th>Player</th>
      <th>HREF</th>
    </tr>
    <% @errors.each do |error| %>
      <tr>
        <td><%= error.player_name %></td>
        <td><%= link_to "Game Link", "http://www.nba.com#{error.href}" %></td>
      </tr>
    <% end %>
  </table>
</div>

