  <nav class="pickem_navigation">
    <ul>
      <li><%= link_to "Pool Home", survivor_pool_path(@pool) %></li>
      <li><%= link_to "Picksheet", viewpicksheet_survivor_pool_path(@pool) %></li>
      <li><%= link_to "Pool Standings", standings_survivor_pool_path(@pool) %></li>
      <li><%= link_to "Pool History", history_survivor_pool_path(@pool) %></li>
    </ul>
  </nav>


