<div id="features">
  <div class="container_12">
    <div id="features-overview" class="grid_12">
    <h2>Features</h2>
    <span>
      Do you currently run multiple office pools at a variety of sites?  Still manually send out results or update spreadsheets? 
      At Sports Pool Paradise, you can centralize all the pools in a single location. We update scores and players for you so
     that all you have to do is manage your pool.   
   </span>
 </div>
    <div class="clear"></div>
    <article class="grid_4">
      <h2>Less Management Overhead</h2>
      <span>
      You don't have to worry about updating scores or tabulating results.
      </span>
      </article>
    <article class="grid_4">
      <h2>Fewer headaches</h2>
      <span>Because everything is on the same website, you don't have to try and remember multiple websites, user accounts and
        passwords.  Users can see what pools are available to participate in as well as past results.
      </span>
    </article>

    <article class="grid_4">
      <h2>Centralize accounting</h2>
      <span>
        Users can see their accounts across all pools they play in with you so they know exactly how much they have won or lost.
      </span>
    </article>
  </div>
</div>
