<div id="pools">
  <div class="container_12">
    <div class="grid_12">
      <h2>Available Pools</h2>
      <span>
        We currently offer 2 football pools, a weekly pick 'em and a survivor pool.
      </span>
    </div>
    <div class="clear"></div>
    <div class="grid_6">
      <h2>Weekly Pick 'em Pool Features</h2>
      <span>
        This pool is run on a week to week basis.  You can include college and/or pro football games.  
        Other options include a weekly jackpot for a certain number of wins and a year end prize pool
        for the overall best pickers.  The site tracks accounting, weekly stats, season stats and
        allows you to pick the games on a week to week basis.  Game scores and lines are 
        updated automatically so you have fewer management worries.
      </span>
    </div>
    <div class="grid_6">
      <h2>Survivor Pool</h2>
      <span>
        The survivor pool is an pro football pool where players pick one game each week, straight or against
        the line.  
      </span>
      <br />
      <br />
    </div>
    <div class="clear"></div>
    <div id="pools_features" class="grid_9">
      <h3>Features of All Pools</h3>
      <span>
        All pools include centralized accounting and a dashboard with status updates for each pool. 
      </span>
    </div>
    <div id="future_pools" class="grid_3">
      <h2>Future Pools</h2>
      <ul>
        <li>Survivor Points Pool</li>
        <li>Confidence Pool</li>
        <li>Pro Football Playoff Pool</li>
        <li>March Madness</li>
        <li>Pro Golf Pool</li>
        <li>Horse Racing Pool</li> 
      </ul>
    </div>
  </div>
</div>
