<div id="pricing">
  <div class="container_12">
    <div id="pricing-overview" class="grid_12">
    <h2>Pricing</h2>
    <span>
      Right now, we're essentially in an alpha stage.  The number of available pool types is limited and 
      we'll certainly have some bugs.  Because of that, it's completely free to host a pool here.  We'd love
      to have some beta testers.  If you're interested drop us a line at <%= mail_to('brettbim@gmail.com') %>.
   </span>
 </div>
</div>
