<div class="container_12">
  <ul>
    <% @awards.each do |award| %>
      <li>
        <%= award.description %>
        <%= link_to "Add Nominations", oscar_award_path(award.id) %>
      </li>  
    <% end %>
  </ul>
</div>
