<div class="container_12">
  <div id="list" class="grid_6">
</div>
<script type="text/javascript">
$(function() {
    window.qualifiersrouter = new POG.Routers.MastersQualifiersRouter({qualifiers: <%= @qualifiers.to_json.html_safe -%>});
    //Backbone.history.start();
  });
</script>
