
/* GENERAL HTML Tags */

/* Subsection 1: CSS Reset */
body, 
h1, h2, h3, 
p, ul, li, form, input,
table, tr, td, header, nav, article, section, dialog, figure, aside, footer {
border:0;
margin:0;
padding:0;
font-size:100%;
}

/* END CSS Reset */

/* Subsection 2: Refine Standard HTML Tags */
html, body {height: 100%}
#wrap {min-height: 100%}
#main {
  overflow: auto;
  padding-bottom: 200px;
}
#footer {
  position: relative;
  margin-top: -200px;
  height: 200px;
  clear:both;
  color: #cdba9d;
  background: #444444;
}

#footer .container_12 {
  padding: 10px 0 0 0;
}

body {
  font:normal 16px/24px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #f2f2f5; 
}

h1 {
  line-height: 35px;
}

h2 {
  font-size:18px;
  margin-bottom:20px;
  color: #04034b;
}

/* END Refine Standard HTML Tags */

/* END GENERAL HTML Tags */


body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
/* Structural Tags */
header{
  font-weight:500;
  background:#0B0974;
  font-size:18px;
  text-transform:uppercase;
  position:relative;
  width:100%;
  height: 50px;
}

header h1 {
  color: #ffffff;
}

header a{
  color:#fff !important;
  text-decoration:none;
}

header .container_12{
	position:relative;
	padding:10px 0;
}


/* END Structural Tags */

/* Custom classes and ids */
#site-title {
  font-size: 28px;
}

#banner {
  background: image-url("banner.png") top left repeat-x;
  border-top: 1px solid #c2bcbd; 
  height: 355px;
  padding: 20px 0 0 0;
}

#banner .salespitch {
  font-size: 38px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin: 0 0 20px 0;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
  
}

#banner .grid_6 {
  padding: 50px 0 0 0;
}

#banner h1 {
  color: #dadad3;
  font-size: 26px;
  font-weight: normal;
  margin: 0 0 20px;
}

#nav ul{
	position:absolute;
	right:0;
	top:10px;
}

#nav li{
  list-style: none;
  display: inline;
	float:left;
	padding-left:10px;
}

#nav a{
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-transition: background .2s ease-out;
}

#nav a:hover{
	background:#3C39BA;
}


input[type="text"], input[type="password"] {
  border: solid 1px #85b1de; 
}

input[type="submit"] {
  background-color: #04034B;
  padding: 5px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  color: #ffffff;

}

#dashboard_wrapper {
  padding: 5px 0 10px 0;
}

#dashboard_wrapper .grid_12 {
  margin-bottom: 18px;
}

#dashboard_wrapper span {
  font-size: 24px;
}
#dashboard_details {
  background-color: #D2b65F;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#dashboard_details h2 {
  color: #04034B;
  font-size: 18px;
  padding: 5px;  
}

.pickem_container {
}
.pickem_navigation ul {
  background-color: #f2f2f5;
  padding: 10px 0;

}

.pickem_navigation li {
  list-style: none;
  display: inline;
  padding:5px;
}

.pickem_navigation a {
  text-decoration: none;
  color: #04034b;
  padding: 5px;
	-webkit-transition: background .2s ease-out;

}

.pickem_navigation a:hover {
  background-color: #e9d7a2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

}

#weeklygames {
  width: 60%;
  border: 1px solid #0b0974;
}

#weeklygames tr, #previousgames tr {
  padding: 3px;
}

#weeklygames th, #previousgames th {
  background-color: #0b0974;
  color: #D2B65F;
  padding: 5px;

}

#weeklygames td, #previousgames td {
  padding: 5px;

}

.adminactions {
  background-color:#e9f1f4;
  margin: 10px;
}

.adminactions h1 {
  color:#fff;
  font-size:16px;
  font-weight:bold;
  background-color:#405a6a;
  padding: 8px 18px;
  position: relative;
}

.adminactions .adminactions-body {
  padding:10px 0 10px 10px;
  background-color:#e9f1f4;
  overflow:hidden;
  border-style:solid;
  border-width:1px 1px 2px;
  border-color:#e9f1f4 #d8dee2 #d8dee2;
  border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
}

.adminactions ul {
  list-style-type: none;
  position: relative; 
}

.adminactions ul li {
  color:#666;
  font-size:13px;
  font-weight:normal;
  background-color:#fffff5;
  background:-moz-linear-gradient(center top,'#fffff5','#f5f3b4');
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fffff5',endColorstr='#f5f3b4');
  background:-webkit-gradient(linear,left top,left bottom,from(#fffff5),to(#f5f3b4));
  background:-moz-linear-gradient(top,#fffff5,#f5f3b4);
  border:1px solid #dfddb5;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  display:block;
  width:215px;
  height:215px;
  float:left;
  position:relative;
  margin:0 10px 0 0;
  -moz-box-shadow:0 1px 0 #fff;
  -webkit-box-shadow:0 1px 0 #fff;
  box-shadow:0 1px 0 #fff;
}

.adminactions a {
  text-decoration: none;

}

.adminactions h2 {
  padding: 5px 10px;
  color: #000;
}

.adminactions p {
  color: #2e3030;
  padding: 5px 5px 0 10px;
}

#survivor_picks_table {
  width: 80%;
}
tr.tableheader {
  border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
}

tr.tableheader th {
}

.result_label {
  padding: 0 5px;
}

.results_table {
  border: 1px solid #0b0974;
  background: #fff;
}

.results_table th, .results_table td {
  padding: 0.5em;
}

.results_table tr.odd {
  background: #eee;
}

.results_table td.negative {
  color: red;
}

#notice {
  border: 5px solid green;
  margin: 5px;
  color: #a67d00;
}

#error {
  border: 5px solid red;
  margin: 5px;

}

#account_activity, #pool_summary {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  background: #e1e1e1;
}

#pool_summary {
  margin-bottom: 10px;
}

#pool_summary_data {
  padding: 0 12px 12px 12px;
  
}

#pool_summary_data th, #pool_summary_data td {
  padding: 0 0.5em;
}

#account_activity h2, #pool_summary h2 {
  background: #0b0974;
  color: #f0ebec; 
  padding-left: 8px;
}

#account_activity_data {
  padding: 0 12px 12px 12px;
}

#account_activity_data span {
  font-size: 16px;
}

#sites_container {
  margin: 5px;
}

#site_navigation {
  margin: 10px;
}
.site_container {
  border: 2px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  overflow: auto;
  margin: 10px 0;
  padding: 0 0 10px 0;
}

#site_navigation a {
  text-decoration: none;
  background: #04034B;
  color: #fff;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  padding: 6px;
}

#site_navigation a:hover {
  background-color: #5d5bba;
}

.site_container h3 {
  background-color: #5d5bba;
  color: #d2b65f;
  padding: 0 5px;
}

article {
  display:block;
}

.pool_container {
  width: 220px;
  border: 1px solid #000;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
}

.pool_container h4 {
  background: #6e6969;
  color: #fff;
  padding: 0 6px;
}

#pools article {
  position: relative;
  width: 220px;
  min-height: 111px;
}

#features,
#pricing, 
#pools {
  padding: 25px 0;
}

#features-overview {
  margin-bottom: 10px;
}

#features {
  background:rgba(0,0,0,.03);
}

#features .container_12 {
  position: relative;
  overflow: auto;
}

#pricing {
  background:rgba(0,0,0,.1);
  overflow: auto;
}

#pools {
  background:rgba(0,0,0,.07);
  overflow: auto;
}

#pools .grid_12 {
  margin-bottom: 20px;
}

#pools .grid_6 {
}

#footer h2 {
  color: #d2ac35;
}

#login-wrapper,
#signup-wrapper{
  padding: 100px 0 200px 200px;
}

.survivor_home_box {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  margin: 5px 0;
  float: right;
  min-width: 220px;
}

.survivor_home_box h3 {
  background-color: #04034b;
  color: #d2b65f;
  padding: 0 5px;
}

#survivor_home_box span {
  padding: 0 5px;
}

#survivor_home_box a {
  padding: 0 5px;

}

#future_pools {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  width: 220px;
  margin: 20px 0;
}

#future_pools h2 {
  background-color: #0b0974;
  color: #d2b65f;
  padding: 0 5px;
}

#future_pools ul {
  list-style-type: none;
  position: relative;
  padding: 5px;
}

#pools_features {
  margin: 20px 0;
  padding: 10px 0;
}

#jackpot_rule {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
}

.pickem_home_box {
  border: 1px solid #3c39ba;
  border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  margin: 20px 0;
  min-height: 110px;
}

.pickem_home_box h2 {
  background-color: #0b0974;
  color: #d2b65f;
  padding-left: 5px;
}

.pickem_home_box span {
  padding-left: 5px;
}

.pickem_home_box label {
  padding-left: 5px;
}

.pickem_home_box table {
  width: 100%
}
.pickem_home_box th, .pickem_home_box td {
  padding:0 5px;
}

.pickem_home_box th {
  border-bottom: 1px solid #0b0974;
}

.pickem_home_box tr.odd, #weeklygames tr.odd {
  background: #c2c2c2;
}

#pickem_info_boxes {
  float: right
}

.survivor_standings {
}

#survivor_standings_header {
  background: #04034b;
  color: #d2ac35;
}

.survivor_standings th {
  padding: 0 5px;
}
.survivor_standings td {
  padding:0 5px;
  text-align: center;
}

.Win {
  background: green;
}

.Loss {
  background: red;
}

#entries_count{
  padding-left: 15px;
}

#sv_entries_table td {
  padding: 0 0 0 10px;
}

.picked_team {
  background: red;
}

#adminsite_menu {
  background: #7c661f;
  width:186px;
}

#adminsite_menu ul, li{
  margin:0; 
  padding:0;
  list-style:none;
}

.site_menu_head {
  border:1px solid #998675; 
}

.site_menu_body {
  display: none;
  border-right:1px solid #998675; 
  border-bottom:1px solid #998675; 
  border-left:1px solid #998675; 
}

.site_menu_body li {
  background: #493e3b;
}

.site_menu_body a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.site_menu_body li.alt {
  background: #362f2d;
}

.small_tb {
  width: 75px;
}

#site-nav {
  width: 100%;
  background: image-url('site_nav.png') top left repeat-x;
  min-height: 75px;
}

#site-nav ul {
  padding-top: 25px;
}
#site-nav li {
  list-style: none;
  display: inline;
}

#site-nav a {
  text-decoration: none;
  color: #f2f2f5;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-transition: background .3s ease-out;
}

#site-nav li a:hover {
  background: #d2ac35;
}

.site-nav-menu-item {
  font:normal 16px/24px "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#pool_banner{
  width: 100%;
  background: image-url('pool_header.png');
  min-height: 75px;
}

.banner_text {
  font: normal 32px 'Marvel', sans-serif;
  color:#f2f2f5;
  padding-top: 20px;
 } 

 #team_stats {
  background: #ddd;  
 }

 #team_stats td {
  padding: 0 5px;
 }

#previousgames{
  width: 80%;
  border: 1px solid #0b0974;
}

#previousgames tr.odd {
  background: #ccc;
}

/* User site admin styling */
#site_admin_main {
  margin: 20px 0 20px;
  clear: both;
  padding: 20px;
  background: #fff;
  border: 1px solid #7a7879;
  /* -webkit-box-shadow: 0 0 3px red; 
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.02);
  box-shadow: 0 0 3px rgba(0,0,0,0.02); */
  -border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

#site_admin_main h1 {
  font-size: 24px;
}

#site_admin_main h3 {
  font-size: 18px;
  font-weight: normal;
  color: #aaa;
}

#site_admin_pools_table {
  min-height: 323px;
  clear: both;
  overflow: visible;
  padding-bottom: 10px;
}

#site_admin_pools_list {
  padding: 5px 0 20px;
  margin: 15px auto;
  clear: both;
  overflow: visible;
}

#site_admin_pools_list li.site_admin_pool {
  display: block;
  float: left;
  background: #fff;
  border: 1px solid #eee;
  -border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  width: 187px;
  margin-bottom: 5px;
  margin-right: 5px;
}

#site_admin_pools_list li.site_admin_pool h2 {
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
  padding: 13px 13px 0;
  background: #888;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

#site_admin_pools_list li.site_admin_pool span {
  padding-left: 13px;
}

#site_admin_pools_list li.site_admin_pool a {
  margin: 5px 13px;
  padding: 2px 5px;
  text-decoration: none;
  -border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #020131;
  color: #b59d52;
}

.bowlgames {
}
.bowlgames th{
  background-color: #0b0974;
  color: #D2B65F;
  padding: 5px;
}
.bowlgames tr.odd {
  background: #e2e2e2;
}

.bowlgames td {
  font-size: 12px;
  padding: 5px;
}

.bowlgames td.center_col {
  text-align: center;
}
.bowlgames span.bowlname {
  font-weight: bold;
}

#confidence_values {
  border: 1px solid #000;
  height: 150px;
  width: 150px;
}

tr.duplicateRank{
  background: red;
}

#ranking_message {
  border: 1px solid black;
  padding: 4px;
  font-size: 13px;
}

#confidence_tie_breaker {
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 15px;
}

td.bowl_pool_cell {
  text-align: right;
}

#current_con_games td.current_game_rank{
  background: black;
  color: white;
  padding: 4px;
}

#current_con_games td.current_game_pick{
  padding: 4px;
}

.nbaGamePreview{
  border: 1px solid black;
  padding: 5px;
  
}

.nbaGamePreviewTeam{
  font-weight: bold;
  font-size: 16px;
}

.nbaScoreboard{
  background: #E3DEE0;
  margin: 5px 0;
}

div.calendar {
  width: 100%;
}

span.daynumber-text{
  color:#3b3b3b;
}

span.gamescount-text {
  line-height: 10px;
  color:#3b3b3b;
  font:400 9px/11px verdana,helvetica,sans-serif;
}

span.dayname-text{
  color:#225db7;
  font:700 12px/24px verdana,helvetica,sans-serif;
  line-height: 12px;
}

div.calendar_container{
  float:left;
  overflow:hidden;
  position: relative;
}

div.calendar_container ul{
  float:left;
  white-space:nowrap;
  padding-left:1px
} 

div.calendar_container ul li {
  display:inline;
  float:left;
  padding-top:10px
}

div.calendar_container ul li a {
  position:relative;
  border:1px solid #a5a5a5;
  margin-left:-1px;
  text-align:center;
  display:block;
  width:42px;
  height:50px;
  text-decoration:none;
  background:#fff 
}

div.calendar_container ul li a.visited {
  
}
div.calendar_container ul li a span {
  display:block
}

div.calendar_container ul li.key {
  position:relative;
  z-index:5
}

div.calendar_container ul li.current {
  padding-top: 0;
}

div.calendar_container ul li.current a {
  height: 60px;
}

div.calendar_container ul li.current a span.day{padding-top:10px}

div.calendar_container ul li.current a span.date{color:#6d6d6d}

div.calendar_container a.prev {
  text-decoration:none;
  width:20px;
  margin:0 5px;
  float:left;
  line-height:70px;
  background: transparent image-url('previous_arrow.png') 0 50% no-repeat;
}

div.game-scoreboard {

}

div.game-scoreboard tr.scoreboard-header {
  background: #C7C3C5;
}

div.game-scoreboard td, div.game-scoreboard th {
  padding: 2px 5px;
}

div.team-defensive-stats{

}

div#team-defensive-stats th {
  background: #3c39ba;
  font: 700 12px/24px verdana,helvetica,sans-serif;
  color: #fff;
  padding: 0 5px;
}

div#team-defensive-stats td {
  padding: 0 5px;
}

.winner{
    color: green;
}

.loser{
    color: red;
}
