  <div id="adminsite_menu">
    <%= image_tag "transactions.png", :size=>"184x32", :class => "site_menu_head" %>
    <ul class="site_menu_body">
      <li><%= link_to "All Transactions", "#" %></li>
      <li><%= link_to "Add New", newtransaction_site_path(@site) %></li>
    </ul>
  </div>

