<div class="container_12">
  <div class="grid_12">
    <%= render 'adminmenu' %>
  </div>
  <div class="grid_12">
    <h1>Dashboard</h1>
    <%= render 'shared/flashpartial' %>
    <span>some stuff</span>
  </div>
</div>
