<div class="pickem_container container_12">
  <h1>Sites to join</h1>
  <table>
    <tr class="header">
      <th>Site Name</th>
      <th></th>
    </tr>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td>
          <% if current_user.sites.include?(site) %>
            <span>You're already a member.</span>
            <%= link_to "Dashboard", user_path(current_user) %>
          <% else %>
            <%= link_to "Join", join_site_path(site.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
