<div id="footer">
  <div class="container_12">
    <article class="grid_4">
      <h2>Osiris Productions</h2>
      <span>osiris productions is a small software shop located in the software mecca of Wylie, Texas.</span>
    </article>
    <article class="grid_4">
    <h2>Products</h2>
      <span>The Sports Pool Hub is the main product we currently offer.  We're also available for consulting and
        contract projects.  If you've got a project, especially sports related, we'd love to talk to you about it.</span>
      </article>
    <article class="grid_4">
    <h2>Want More Info?</h2>
    <span>Got a pool that you'd like to host here that we don't currently support?  Interested in helping out?  We'd
      love to talk to you.</span>
  </div>
</div>
