<header>
  <div class="container_12">
    <h1><%= link_to "Pools of Greatness", root_path %></h1>
    <nav id="nav">
      <ul>
        <li><%= link_to 'Pricing', pricing_path %></li>
        <li><%= link_to 'Features', features_path%></li>
      </ul>
    </nav>
  </div>

</header> 
