<ul>
  <li>
    <%= link_to "Home", user_path(current_user)  %>
  </li>
  <li>
    <%= link_to "Edit Profile", edit_user_path(current_user) %>
    </li>
          <a>Pools</a> 
          <ul>
            <% current_user.sites.each do |site| %>
              <% site.pools.each do |pool| %>
                <% if pool.active %>
                  <li>
              <%= poolpath_for(pool) %>
              </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
</ul>
